{% extends 'layout.twig' %}

{% block body %}
    <h1 style="font-size:36px; font-weight: normal; color: blue;">Todo Dashboard Application</h1>
    <p style="font-size:24px; color: red;">Welcome to Todo Dashboard</p>


    <form method="POST">
        <input placeholder="Enter to-do item" id="todo_text" name="todo_text" style="margin: 0px 15px 0px 5px;" required>
        <input placeholder="date picker" id="date" name="date" type="date" style="margin: 0px 15px 0px 5px;">
        <select id="priority" name="priority">
            <option value="" disabled selected> Select priority </option>
            <option value="High"> High </option>
            <option value="Medium"> Medium </option>
            <option value="Low"> Low </option>
        </select>
        <button id="add_todo"> Add </button>
    </form>

    {# calendar #}
    <p style="margin: 50px; color: gray;"> # Calendar here </p>


    <h1> Todo </h1>
    <ul>
        {% for todo_item in todo_list %}
            {% if todo_item.complete == false %}
            <li> {{ todo_item.todo_text }} {{ todo_item.date }} {{ todo_item.priority }}
                <form method="POST" action="/submit/{{ todo_item.id }}">
                    <button class="submit_delete"><img src="/icon/correct.svg" class="icon"></button>
                </form>

                <form method="POST" action="/delete/{{ todo_item.id }}">
                    <button class="submit_delete"><img src="/icon/garbage.svg" class="icon"></button>
                </form>
            </li>
            {% endif %}
        {% endfor %}
    </ul>


    <h1> Complete </h1>
    <ul>
        {% for complete_item in todo_list %}
            {% if complete_item.complete == true %}
            <li> {{ complete_item.todo_text }} {{ complete_item.daete }} {{ complete_item.priority }}
                <form method="POST" action="/submit/{{ complete_item.id }}">
                    <button class="submit_delete"><img src="/icon/cancel-1.svg" class="icon"></button>
                </form>

                <form method="POST" action="/delete/{{ complete_item.id }}">
                    <button class="submit_delete"><img src="/icon/garbage.svg" class="icon"></button>
                </form>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
