{% extends 'layout.twig' %}

{% block head %}
    {# <link rel='stylesheet' href='/stylesheets/style.css' />
 #}
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/stylesheets/calendar.css">
    <script src="/js/calendar.js"></script>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawTodoChart);
      google.charts.setOnLoadCallback(drawPriorityChart);

      function drawTodoChart() {

        var data = google.visualization.arrayToDataTable([
          ['Todo/complete', 'number of task'],
          ['Todo',     {{todo_count}}],
          ['Complete',  {{complete_count}}]
        ]);

        var options = {
          title: 'Todo and Complete Task',
          colors: [
          '#00796B',  // 700
          '#66BB6A'   // 400
          ]
        };

        var chart = new google.visualization.PieChart(document.getElementById('Todo_piechart'));

        chart.draw(data, options);
      } 


      function drawPriorityChart() {

        var data = google.visualization.arrayToDataTable([
          ['priority', 'number of task'],
          ['High',     {{todo_high_priority_count}}],
          ['Medium',  {{todo_medium_priority_count}}],
          ['Low',  {{todo_low_priority_count}}],
          ['Default',  {{todo_d_priority_count}}]
        ]);

        var options = {
          title: 'Priority',
          colors: [
          '#EF5350',
          '#FFA726',
          '#66BB6A',
          '#0288D1'
          ]
        };

        var chart = new google.visualization.PieChart(document.getElementById('priority_chart'));

        chart.draw(data, options);
      }   


    </script>


{% endblock %}



{% block body %}
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About page</a></li>
        <li class="nav-item"><a class="nav-link" href="/signin">Sign in or Sign up</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>

    <h1 style="font-size:36px; font-weight: normal; color: blue;">Todo Dashboard Application</h1>
    <p style="font-size:24px; color: red;">you are log in as: {{user}}</p>

    <div class="row">
      <div class="col">
      <form method="POST" class="form-inline">
        <div class="form-group">
          <input class="form-control" placeholder="Enter to-do item" id="todo_text" name="todo_text" style="margin: 0px 15px 0px 5px;" required>
          <input class="form-control" placeholder="date picker" id="date" name="date" type="date" style="margin: 0px 15px 0px 5px;">
          <div class="form-group">
          <select class="form-control" id="priority" name="priority" style="margin: 0px 15px 0px 5px;">
              <option value="" disabled selected> Select priority </option>
              <option value="High"> High </option>
              <option value="Medium"> Medium </option>
              <option value="Low"> Low </option>
          </select>
          </div>
          <button class="btn btn-outline-primary" id="add_todo" style="margin: 0px 15px 0px 5px; width: 120px;"> Add </button>
        </div>  
      </form>
      </div>
    </div>
    <br>

    {# CHART #}
    <button onclick="displayChart()" id="toggle_chart" class="btn btn-outline-dark">Hide Chart</button>
    <script>
      function displayChart() {
          var toggle_chart = document.getElementById("toggle_chart")
          var chart1 = document.getElementById("Todo_piechart");
          var chart2 = document.getElementById("priority_chart");
          if (chart1.style.display === "none") {
              chart1.style.display = "inline";
              chart2.style.display = "inline";
              toggle_chart.innerHTML = "Hide Chart";
          } else {
              chart1.style.display = "none";
              chart2.style.display = "none";
              toggle_chart.innerHTML = "Show Chart";
          }
      }
    </script>

    <div class="row">
      <div class="col">
        <div id="Todo_piechart" style="width: 600px; height: 400px;"></div>
      </div>
      <div class="col">
        <div id="priority_chart" style="width: 600px; height: 400px;"></div>  
      </div>  
    
    </div>

    <div class="row">
      
      <div class="col">

          <div class="todo_table" style="height:700px; overflow: auto;">
          <h1> Todo </h1>
          <ul class="list-group">
              {% for todo_item in todo_list %}
                  {% if todo_item.date != "Invalid date"%}
                  <div class={{todo_item.priority}}>
                      <li class="list-group-item"> <h3>{{ todo_item.todo_text }}</h3>
                       <br><label>{{ todo_item.date }}</label>
                        <div class="row">
                          <div class="form-group col-xs-6">
                            <form method="POST" class="form-inline">
                                <button class="btn btn-outline-success" style="width: 50px; height: 50px;" formaction="/submit/{{ todo_item.id }}"><img src="../icon/correct.svg"></button>
                                <button class="btn btn-outline-danger" style="width: 50px; height: 50px;" formaction="/delete/{{ todo_item.id }}"><img src="../icon/garbage.svg"></button>
                            </form>
                          </div>
                        </div>
                      </li>
                  </div>
                  {% endif %}

                  {% if todo_item.date == "Invalid date"%}

                  <div class={{todo_item.priority}}>
                      <li class="list-group-item"> <h3>{{ todo_item.todo_text }}</h3>
                        <div class="row">
                          <div class="form-group col-xs-6">
                            <form method="POST" class="form-inline">
                                <button class="btn btn-outline-success" style="width: 50px; height: 50px;" formaction="/submit/{{ todo_item.id }}"><img src="../icon/correct.svg"></button>
                                <button class="btn btn-outline-danger" style="width: 50px; height: 50px;" formaction="/delete/{{ todo_item.id }}"><img src="../icon/garbage.svg"></button>
                            </form>
                          </div>
                        </div>
                      </li>
                  </div>
                  {% endif %}
              {% endfor %}
          </ul>

          <h1> Complete </h1>
          <ul class="list-group">
              {% for complete_item in complete_list %}
                  {% if complete_item.date != "Invalid date" %}

                  <div class={{complete_item.priority}}>
                      <li class="list-group-item"> <h3>{{ complete_item.todo_text }}</h3>
                      <br><label>{{ complete_item.date }}</label>

                        <div class="row">
                          <div class="form-group col-xs-6">
                          <form method="POST" class="form-inline">
                              <button class="btn btn-outline-success" style="width: 50px; height: 50px;" formaction="/submit/{{ complete_item.id }}"><img src="../icon/cancel-1.svg" class="icon"></button>
                              <button class="btn btn-outline-danger" style="width: 50px; height: 50px;" formaction="/delete/{{ complete_item.id }}"><img src="../icon/garbage.svg" class="icon"></button>
                          </form>
                        </div>
                      </div>
                      </li>
                  </div>

                  {% endif %}
                  {% if complete_item.date == "Invalid date" %}
                  <div class={{complete_item.priority}}>
                      <li class="list-group-item"> <h3>{{ complete_item.todo_text }}</h3>

                        <div class="row">
                          <div class="form-group col-xs-6">
                          <form method="POST" class="form-inline">
                              <button class="btn btn-outline-success" style="width: 50px; height: 50px;" formaction="/submit/{{ complete_item.id }}"><img src="../icon/cancel-1.svg" class="icon"></button>
                              <button class="btn btn-outline-danger" style="width: 50px; height: 50px;" formaction="/delete/{{ complete_item.id }}"><img src="../icon/garbage.svg" class="icon"></button>
                          </form>
                        </div>
                      </div>
                      </li>
                  </div>   
                  {% endif %}
              {% endfor %}
          </ul>
          </div>      {# todo class /div #}
      </div>      {# left column /div #}


    {# -------------------- right column DASHBOARD COLUMN -------------------- #}
      <div class="col">
          
          <div class="calendar-wrapper">
            <button id="btnPrev" type="button">Prev</button>
              <button id="btnNext" type="button">Next</button>
            <div id="divCal"></div>
          </div>
          
      </div>      {# right column /div #}
    </div>      {# row column /div #}

{% endblock %}
 